html, body {
  width: 100%;
  margin: 0;
}

main {
  margin: 1rem;
}

button {
  color: black;
}

.tweetImageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tweetImage {
  max-width: 50%;
}